<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>登录页</title>
        <meta charset="utf-8">
        <meta name="author" content="caojie">
        <meta name="description" content="个人博客" />
        <meta name="keywords" content="个人博客" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="renderer" content="webkit" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="/static/css/Normalize.css" rel="stylesheet"/>
        <link href="/static/layui/css/layui.css" rel="stylesheet"/>
        <link href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link href="/static/css/font-awesome.css" rel="stylesheet"/>
        <link href="/static/css/login.css" rel="stylesheet"/>
        <!--[if lt IE 9]>
            <script src="/static/js/html5shiv.js"></script>
            <script src="/static/js/respond.src.js"></script>
        <![endif]-->
        <script>
            // 禁止直接访问
            function forbidden() {
                if(top.location === window.location){
                    window.location.href = '/';
                }
            }
            forbidden();
        </script>
    </head>
    <body>
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
                <li>注册</li>
                <li>重置密码</li>
                <li>测试登陆</li>
            </ul>
            <div class="layui-tab-content">
                <!--登陆-->
                <div class="layui-tab-item layui-show">
                    <div class="notice">请输入登录信息</div>
                    <div class="input-group">
                        <span class="input-group-addon">邮  箱 </span>
                        <input type="text" class="form-control login-input" name="username" autocomplete="off" placeholder="请输入邮箱"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">密  码 </span>
                        <input type="password" class="form-control login-input" name="password" autocomplete="off" placeholder="请输入密码"/>
                    </div>
                    <div class="input-group"  style="width:240px;float: left;">
                        <span class="input-group-addon">验证码</span>
                        <input type="text" class="form-control login-input" name="vcode" autocomplete="off" />
                    </div>
                    <img class="captcha" src="{:captcha_src()}" alt="验证码"/>
                    <botton class="btn btn-default btn-lg" style="display:block;clear:both;" id="login-btn">登陆</botton>
                </div>
                <!--注册-->
                <div class="layui-tab-item">
                    <div class="notice">请输入注册信息</div>
                    <div class="input-group" style="width:290px;float: left;">
                        <span class="input-group-addon">昵  称 </span>
                        <input type="text" class="form-control login-input" name="nickname" disabled="disabled" autocomplete="off" placeholder="请输入昵称"/>
                    </div>
                    <botton id="set-nickname" class="btn btn-default " style="width:70px;float: left; margin-top: 10px;">随机</botton>
                    <div class="input-group" style="clear: both;">
                        <span class="input-group-addon">邮  箱 </span>
                        <input type="text" class="form-control login-input" name="rusername" autocomplete="off" placeholder="请输入邮箱"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">密  码 </span>
                        <input type="password" class="form-control login-input" name="rpassword" autocomplete="off" placeholder="请输入密码"/>
                    </div>
                    <div class="input-group" style="width:240px;float: left;">
                        <span class="input-group-addon">验证码</span>
                        <input type="text" class="form-control login-input" name="rvcode" autocomplete="off" />
                    </div>
                    <img class="captcha" src="{:captcha_src()}" alt="验证码"/>
                    <div class="input-group"  style="clear: both;">
                        <span class="input-group-addon">邮箱验证码</span>
                        <input type="text" class="form-control login-input" name="rmailcode" autocomplete="off" />
                    </div>
                    <div>
                        <a href="javascript:void(0);" data="register" class="sendMail">发送验证邮件</a>
                    </div>
                    <botton class="btn btn-default btn-lg" id="register-btn">注册</botton>
                </div>
                <!--重置密码-->
                <div class="layui-tab-item">
                    <div class="notice">重置密码</div>
                    <div class="input-group">
                        <span class="input-group-addon">邮  箱 </span>
                        <input type="text" class="form-control login-input" name="musername" autocomplete="off" placeholder="请输入邮箱"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">密  码 </span>
                        <input type="password" class="form-control login-input" name="mpassword" autocomplete="off" placeholder="请输入新密码"/>
                    </div>
                    <div class="input-group" style="width:240px;float: left;">
                        <span class="input-group-addon">验证码</span>
                        <input type="text" class="form-control login-input" name="mvcode" autocomplete="off" />
                    </div>
                    <img class="captcha" src="{:captcha_src()}" alt="验证码"/>
                    <div class="input-group" style="clear: both;">
                        <span class="input-group-addon">邮箱验证码</span>
                        <input type="text" class="form-control login-input" name="mmailcode" autocomplete="off" />
                    </div>
                    <div>
                        <a href="javascript:void(0);" data="reset" class="sendMail">发送验证邮件</a>
                    </div>
                    <botton class="btn btn-default btn-lg" id="reset-btn">重置密码</botton>
                </div>
                <div class="layui-tab-item">
                    <div class="notice">测试登陆</div>
                    <div style="margin:0 0 10px 0;">
                        账号：<span>demo</span>
                        <!--<botton class="btn btn-default copy">点击复制</botton>-->
                    </div>
                    <div>
                        密码：<span>demo123</span>
                        <!--<botton class="btn btn-default copy">点击复制</botton>-->
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery3.3.1.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/layui/layui.js"></script>
        <script src="/static/js/canvas-particle.js"></script>
        <script src="/static/js/md5.js"></script>
        <script src="/static/js/login.js"></script>
        <script type="text/javascript">
            window.onload = function(){
                    //配置
                    var config = {
                            vx: 4,//点x轴速度,正为右，负为左
                            vy:  4,//点y轴速度
                            height: 2,//点高宽，其实为正方形，所以不宜太大
                            width: 2,
                            count: 120,//点个数
                            color: "176,58,91",//点颜色
                            stroke: "176,58,91",//线条颜色
                            dist: 2000,//点吸附距离
                            e_dist: 10000,//鼠标吸附加速距离
                            max_conn: 10//点到点最大连接数
                    }
                    //调用
//                    CanvasParticle(config);
            };
        </script>
    <canvas width="0px" height="0px;" style="top: 0px; left: 0px;"></canvas>
    </body>
</html>