{block name="header"}
    <!DOCTYPE html>
    <html lang="zh-CN">
        <head>
{/block}
{block name="title"}
        <title>网站标题</title>
{/block}
{block name="css"}
        <meta charset="utf-8">
        <meta name="author" content="caojie">
        <meta name="description" content="个人博客" />
        <meta name="keywords" content="个人博客" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="render" content="webkit" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="/static/css/Normalize.css" rel="stylesheet"/>
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="https://layui.hcwl520.com.cn/layui-v2.4.5/css/layui.css?v=201811010202" rel="stylesheet" media="all"/>
{/block}
{block name="nav"}
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--左边主题栏-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://{$webdata['domain']}">{$webdata['domain']}</a>
        </div>
        <!-- 导航条链接 -->
        <span class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {volist name='cates' id='cate' offset='1' length='3'}
                    {if condition='$cate["blog_category"] !== "默认分类"'}
                        <li class=""><a href="/blog/contents?cate={$cate['id']}&page=1">{$cate.blog_category}</a></li>
                    {/if}
                {/volist}
                <!--下拉栏-->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">其他<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {volist name="cates" id="cate" offset='4' length='3'}
                            <li><a href="/blog/contents?cate={$cate['id']}&page=1">{$cate["blog_category"]}</a></li>
                        {/volist}
                            <li role="separator" class="divider"></li>
                        {volist name="cates" id="cate"  offset='7' length='3'}
                             <li><a href="/blog/contents?cate={$cate['id']}&page=1">{$cate["blog_category"]}</a></li>
                        {/volist}
                    </ul>
                </li>
            </ul>
            <!--搜索栏-->
            <form class="navbar-form navbar-left" action="/search" method="GET">
                <div class="form-group">
                    <select name="c" class="form-control">
                        <option value="1">文章</option>
                        <option value="2">标签</option>
                        <option value="3">用户</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="q" class="form-control" autocomplete="off" placeholder="请输入搜索内容">
                </div>
                <button type="submit" id="search" class="btn btn-default">搜索</button>
            </form>
            <!--登陆注册栏-->
            <ul class="nav navbar-nav navbar-right">
                {if condition = "$nickname"}
                    <li><a class="{$nickname}" href="/admin" title="后台管理">{$nickname}</a></li>
                    <li><a class="loginoff" href="javascript:void(0);" title="退出登录"><i class="fa fa-sign-out"></i></a></li>
                {else /}
                    {if condition = "$username"}
                         <li><a class="{$username}" href="/admin" title="后台管理">{$username}</a></li>
                         <li><a class="loginoff" href="javascript:void(0);" title="退出登录"><i class="fa fa-sign-out"></i></a></li>
                    {else /}
                        <li>
                             <a class="login" href="javascript:void(0);">注册/登录</a>
                        </li>
                    {/if}
                {/if}
            </ul>
        </div>
    </div>
</nav>
{/block}
{block name="container"}
{/block}
{block name="sidebar"}
    <div id="sidebar">
        <div id="massage"><i class="fa fa-commenting-o"></i></div>
        <div id="toTop" style="display: none;"><i class="fa fa-chevron-circle-up"></i></div>
    </div>
</body>
{/block}
{block name="js"}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://layui.hcwl520.com.cn/layui-v2.4.5/layui.js?v=201811010202"></script>
    <script src="/static/js/common.js"></script>
{/block}
{block name="footer"}
    </html>
{/block}
