<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>账户管理</title>
        <meta charset="utf-8">
        <meta name="author" content="caojie">
        <meta name="description" content="个人博客" />
        <meta name="keywords" content="个人博客" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="renderer" content="webkit" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->
        <link href="/static/css/Normalize.css" rel="stylesheet"></link>
        <link href="/static/layui/css/layui.css" rel="stylesheet"></link>
         <!--<link href="/static/css/bootstrap.css" rel="stylesheet"></link>-->
        <!--<link href="/static/css/font-awesome.css" rel="stylesheet"></link>-->
        <link href="/static/css/auth.css" rel="stylesheet"></link>
    </head>
    <body>
        <div class="layui-tab layui-tab-brief" lay-filter="cate-manage">
            <ul class="layui-tab-title">
                <li class="layui-this">微信</li>
                <li>支付宝</li>
                <li>百度Ai</li>
            </ul>
            <div class="layui-tab-content">
                <!--微信-->
                <div class="layui-tab-item layui-show">

                </div>
                <!--支付宝-->
                <div class="layui-tab-item">

                </div>
            </div>
        </div>
        <script type="text/html" id="bar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <!--<script type="text/html" id="switch">-->
            <!--<input type="checkbox"lay-skin="switch" lay-text="ON|OFF" checked>-->
        <!--</script>-->
        <script src="/static/js/jquery3.3.1.js"></script>
        <script src="/static/layui/layui.js"></script>
        <script src="/static/js/account.js"></script>
    </body>
</html>