@charset"utf-8";
/*导航栏样式*/
/*
覆盖原始bootstrap样式
*/
.form-control{
    border-radius: 0;
}

.btn{
    border-radius: 0;
}
#quick-search{
    position: absolute;
    width:100px;
    height:30px;
    left:30px;
    top:30px;
}

/* 修复平板状态 */
@media (max-width: 1014px) and (min-width: 768px){
    #sign{
        display:none;
    }
}
@media (max-width: 1014px) and (min-width: 768px){
    #sign{
        display:none;
    }
}
/* 页面样式 */
/* 显示所有元素边框 */
/*body *:hover{*/
/*border:0.5px solid rgb(176,58,91);*/
/*}*/
body {
    background:rgb(240,240,240);
    padding-top: 70px !important;
}
@media (max-width:868px) and (min-width:758px){
    body {
        padding-top: 105px;
    }
}
/*浏览器滚动条样式*/
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}

/*全局选择样式*/
::selection{
    background:#0092ee;
    /*background:rgb(52,83,145);*/
    color:white;
}
::-moz-selection{
    background:#0092ee;
    color:white;
}
/*::-webkit-selection{background:blue; color:white;}*/

/* 全局a标签样式 */
a:link{
    color:#0092ee;
    text-decoration:none;
}
a:visited{
    color:#0092ee;
    text-decoration:none;
}
a:hover{
    color:#0092ee;
    text-decoration:none;
}
a:active{
    color:#0092ee;
    text-decoration:none;
}


/* 全局标题样式 */
h1{
    font-size:20px;
    text-align:center;
}
h2{
    font-size:16px;
    display: inline;
}
#massage{
    width:50px;
    height:50px;
    text-align: center;
}
#toTop{
    width:50px;
    height:50px;
    text-align: center;
}
/*留言板*/
#massage-board {
    color:#0092ee;
    padding:0 20px 0 20px;
}
#massage-board input{
    border: 1px solid #0092ee;;
    padding: 4px;
    width:100%;
    height: 40px;
}
.massageboard-class .layui-layer-btn .layui-layer-btn0{
    border-color: #0092ee;
    background-color: #0092ee;;
}
#massage-text{
    width:100%;
    height: 120px;
    padding: 4px;
    resize: none;
    border: 1px solid #0092ee;
}
/*侧边栏*/
#sidebar{
    width: 50px;
    height: 100px;
    bottom: 60px;
    right: 2%;
    position: fixed;
    cursor: pointer;
    z-index: 10;
}
#sidebar i{
    font-size: 36px;
    color:#0092ee;
}
@media (max-width: 800px){
    #sidebar{
        bottom: 40px;
    }
}

/*收藏按钮*/
.no-favorite-btn{
    cursor: pointer;
    color:gray;
}
.favorite-btn{
    cursor: pointer;
    color:#0092ee;
}

/*文章列表样式*/
.list{
    margin:10px 0 0 0;
    height:165px;
    background: white;
    padding: 0 0 2px 0;
}
.list div{
    margin: 6px 0 0 0;
    padding: 2px 2px 2px 2px;
}
.tags{
    margin-top: 2px !important;
}
.img-box{
    float: left;
    width:25%;
    margin:0;
    overflow: hidden;
}
.article-img{
    width:100%;
    height:120px;
    cursor: pointer;
    transition: all 0.6s;
}
.article-img:hover{
    transform: scale(1.2);
}

.article-box{
    float: left;
    width:74%;
    margin:0;
}
.article-box h1{
    text-align:left;
    display:inline-block;
}
.article-detail{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    font-size: 14px;
}
.article-like{
    clear: left;
    padding: 6px 10px 5px 10px !important;
    margin: 0 0 5px 0 !important;
}
/*文章详情*/
.w-e-text code{
    display: block;
    overflow-y: scroll;
    color:#0092ee;
    font-size: 18px;
}