@charset"utf-8";
body{
    padding-top: 50px !important;
}

.box{
    background: white;
    height: 200px;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 5px;
}
.pagination{
    margin-left: 50px;
}

@media (max-width:1200px){
    .img-box{
        display: none;
    }
    .article-box{
        width:100%;
    }
}
@media (max-width:990px) {
    .col-md-4 {
        display: none;
    }
}
