@charset"utf-8";

body{
    padding-top: 50px !important;
}
h1{
    text-align: left;
    font-size:25px;
    /* text-align:center; */
    margin:0;
    padding:20px 0 5px 30px;
    color: #0092ee;
}
#tags{
    margin: 0 0 0 30px;
}
#s-qrcode{
    cursor: pointer;
}
#qrcode-box{
    display: inline-block;
}
#qrcode{
    display: none;
    position: absolute;
    padding: 15px 15px 15px 15px;
    background: white;
}
.display-article-detail{
    margin:0 0 10px 0;
    background:white;
}
.w-e-text{
    padding:10px 30px 10px 30px;
    font-size: 16px;
}
#comment{
    margin: 0 10px 0 20px;
    padding-bottom:150px;
}
#comment-tab{
    clear: both;
    height: 30px;
}
#comment-tab-detail{
    padding: 0 0 20px 0;
}
#comment-tab li{
    display: block;
    color: white;
    float: left;
    cursor:pointer;
    padding: 5px 20px 5px 20px;
    border: 1px solid #0092ee;
}
.comment-avatar{
    float:left;width: 5%;
    padding: 0 5px 0 0;
}
.comment-content{
    float: left;
    width: 95%;
}
.nickname{
    margin:0 5px 0 0;
}
.divid-line{
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    clear: both;
    margin:5px 0 1px 0;
}
.reply-box{
    display: none;
    margin: 5px 0 5px 0;
    clear: both;
    background: #f5f5f5;
}
.reply-input{
    display: none;
    margin: 5px 0 0 0;
}
.reply-content{
    margin: 5px 0 5px 0;
    border-top:5px solid white;
    padding: 5px 5px 5px 5px;
}
.reply-input{
    margin: 5px 0 5px 0;
}
.reply-input input{
    border: 1px solid #0092ee;
    width:75%;
    height: 30px;
    padding: 2px 5px 2px 5px;

}
.reply-input botton{
    border: 1px solid #0092ee;
    padding: 6px 10px 6px 10px;
    height: 30px;
    color: #0092ee;
    cursor: pointer;
}
.selected{
    background: #0092ee
}
.selected a{
    /*border-top: 1px solid #0092ee*/
    color: white;
}
textarea{
    width:70%;
    min-height: 100px;
    max-height: 200px;
    padding:5px;
    resize: vertical;
    border: 1px solid #0092ee
}
@media (max-width: 768px){
    textarea{width:100%;}
}
.submit-btn{
    background: white;
    color:#0092ee;
    width: 75px;
    height: 30px;
    border: 1px solid #0092ee;
    transition: 0.5s ;
    -webkit-transition: 0.5s ;
}
.submit-btn:hover{
    color:white;
    background: #0092ee;
}

.box{
    background: white;
    height:200px;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 5px;
}
#avatar {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
@media (max-width:800px){
    h1{
        font-size:20px;
    }
    .comment-avatar{
        width:10%;
    }
    .comment-content{
        width:90%;
    }
    #qrcode-box{
        display: none;
    }
    .w-e-text{
        padding: 3px 10px;
    }
}