@charset"utf-8";

h1{
    text-align: left;
    font-size:25px;
    /* text-align:center; */
    margin:0;
    padding:20px 0 5px 30px;
}
@media (max-width:800px){
    h1{
        font-size:20px;
    }
}
h2{
    font-size:16px;
    border-bottom: 2px solid rgb(176,58,91);
    display: inline;
}

.row{
    border:solid 1px rgb(176,58,91);
}

#tags{
    margin: 0 0 0 30px;
}
#s-qrcode{
    cursor: pointer;
}
#qrcode-box{
    display: inline-block;
}
#qrcode{
    display: none;
    position: absolute;
}
.article-detail{
    height:1000px;
    background:white;
    /* margin-right:20px; */
}
.w-e-text{
    padding:10px 30px 0 30px;
}
#comment{
    margin: 0 10px 0 20px;
}
#comment-tab{
    clear: both;
    /*width: 200px;*/
    height: 30px;
    /*border-bottom: 1px solid rgb(176,58,91);*/
}
#comment-tab li{
    display: block;
    color: white;
    float: left;
    cursor:pointer;
    padding: 5px 20px 5px 20px;
    border: 1px solid rgb(176,58,91);
}
.selected{
    background: rgb(176,58,91);
}
.selected a{
    /*border-top: 1px solid rgb(176,58,91);*/
    color: white;
}
textarea{
    width:70%;
    min-height: 100px;
    max-height: 200px;
    padding:5px;
    resize: vertical;
    border: 1px solid rgb(176,58,91);
}
@media (max-width: 768px){
    textarea{width:100%;}
}
.submit-btn{
    background: white;
    color:rgb(176,58,91);
    width: 75px;
    height: 30px;
    border: 1px solid rgb(176,58,91);
    transition: 0.5s ;
    -webkit-transition: 0.5s ;
}
.submit-btn:hover{
    color:white;
    background: rgb(176,58,91);
}

