@charset"utf-8";
body {
    background:rgb(230,230,230);
    padding-top: 70px;
}
/* 显示所有元素边框 */
/* body *{ */
    /* border:0.5px solid rgb(176,58,91); */
/* } */
@media (max-width:868px) and (min-width:758px){
    body {
    padding-top: 105px;
}
}
/* 
单一选择器无法覆盖原始bootstrap样式 
重写部分导航栏样式
*/
.navbar-default .navbar-brand{
    color:rgb(176,58,91);
}
@media (max-width: 768px){
    .navbar-default .navbar-brand{
        color:rgb(176,58,91);
        font-weight:bold;
    }
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav > li > a:hover,.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color:white;
    background:rgb(176,58,91);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.search-form{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border:0.5px solid rgb(176,58,91);
}
.search-btn{
    color:white;
    border:1px solid rgb(176,58,91);
    background:rgb(176,58,91);
}
.search-btn:hover{
    color:white;
    border:1px solid rgb(176,58,91);
    background:rgb(176,58,91);
}
.search-btn:visited{
    color:white;
    border:1px solid rgb(176,58,91);
    background:rgb(176,58,91);
}
/* 修复平板状态挡住轮播图 */
@media (max-width: 1014px) and (min-width: 768px){
    #sign{display:none;}
}
@media (max-width: 1014px) and (min-width: 768px){
    #sign{display:none;}
}


/* 全局a标签样式 */
a{
    color:rgb(176,58,91);
}
a:hover{
    color:rgb(176,58,91);
    text-decoration:none;
    
}
/* 图标字体样式 */
i{
    color:rgb(176,58,91);
}
/* 全局标题样式 */
h1{
    font-size:20px;
    text-align:center;
}
h2{

    font-size:16px;
    border-bottom: 2px solid rgb(176,58,91);
    display: inline;
}

.row{

}

.col-md-9{
    margin:2px;
}
#carousel{
    
}
#carousel img{
    max-width:100%;
    width:100%;
    /* border-radius: 5px;  */
}

#introduction{
    height:456.34px;
    padding:10px;
    border-radius: 9px;
    background:white;
}
#avatar{
    height:100px;
}
#avatar div{
    margin:auto;
    width:70px;
    /* z-index:10; */
    /* transition: width 1s ; */
    /* -webkit-transition: width 1s ; */
}
/* #avatar div:hover{ */
    /* margin:auto; */
    /* width:100%; */
    /* height:70px; */
/* } */
#avatar img{
    width:100%;
    border-radius: 50%;
    transition: border-radius 1s ;
    -webkit-transition: border-radius 1s ;
}
#avatar img:hover{
    width:100%;
    border-radius: 0;
}
dl div{
    margin:10px;
}
dt{
    float:left;
}
dd{
    padding-left:80px;
}

/* 简介高度跟随图片变化 */
@media (max-width: 1200px){
    #introduction {
        height:375.2px;
    }
}
@media (max-width: 992px){
    #introduction {
        height:285.97px;
    }
}
@media (max-width: 765px){
    #introduction {
        display:none;
    }
}
.thumbnail{
    border-radius: 9px;
}
.img-Placeholder{
    width: 100%;
    height: 78%;
    margin:auto;
}

.topic-contents{
    padding-left: 10px;
}
.col-md-4{
    margin-bottom: 10px;
}

.contents{
    height:350px;
    border-radius: 9px;
    margin:0 20px;
    background:white;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.05);
}
.contents-title{
    height:35px;
    padding-top:10px;
    margin:0px 10px;
}
.contents-text{
    height:200px;
    margin-top:15px;
    padding:0 10px 0 1px;
    font-size:14px;
}
ul{
    padding-left:20px;
}
.more{
    float: right;
    display: inline;
}

.article-date{
    float: right;
}
@media (max-width: 430px){
    .article-date{
       display:none;
    }
}
#Sidebar{
    width: 162px;
    height: 120px;
    bottom: 80px;
    right: 2%;
    position: fixed;
    cursor: pointer;
    z-index: 10;
}
@media (max-width: 800px){
    #Sidebar{
        display:none;
    }
}
#Sidebar-box{
    float:left;
    
}
#Sidebar-display{
    width:40px;
    height:120px;
    float:right;
}
#Sidebar-display div{
    width:40px;
    height: 40px;
}
#massage{
    background:gray;
}
#wechat{
    background:blue;
}
#toTop{
    background:green;
}
#wechat-box{
    width: 120px;
    height: 120px;
    z-index: 10;
}
#Sidebar img{
    width:100%;
    height:100%;
}
footer{
    clear:both; 
    text-align:center;
}

#foot{
    width:100%;
    height:150px;
    margin-top:10px;
}

#copyright{

}
