@charset"utf-8";
#login-box{
    /* position:absolute; */
    margin:auto;
    margin-top:150px;
    padding:20px 30px 0 30px;
    max-width:60%;
    background:white;
    border-radius: 7px;
    border:1px solid rgb(176,58,91);
    width:500px;
    height:260px;
    color:rgb(176,58,91);
    z-index:999;
}
@media (max-width: 600px){
    #login-box{
        width:100%;
        /* margin:0; */
        max-width:90%;
        margin-top:50px;
    }
}

.notice{
    font-size:16px;
    margin:0 0 5px 0;
}
@media (max-width: 400px){
    .notice{
        font-size:12px;
    }
}
.input-group-addon{
    width: 100px;
}
.input-group{
    width:400px;
        margin: 10px 0 10px 0;
}
.login-input{

}
.sendMail{
    display: inline-block;
    margin: 1px 1px 5px 1px;
}
.btn{
    margin: 0 0 0 110px;
    width: 200px;
}

.back{
    margin-top:10px;
}

