.layui-upload-img {
    /*width: 92px;*/
    height: 92px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}
.layui-input{
    max-width:500px;
}
.my-btn{
    margin:0 0 10px 110px;
}
#editor-box{
    width:695px;
    min-width:695px;
    margin:0 0 10px 110px;
}
.upload-ul{
    margin:10px 0 0 110px;
}
/*修复上传input尺寸过小*/
.webuploader-container div:nth-child(2){
     width:100%!important;
     height:100%!important;
}

#container{
    min-height:500px;
    margin: 25px 50px 0 50px;
    padding: 10px;
    text-align: center;
    background: white;
    border: 1px solid black;
    /*width: ;*/
}
#operate-box{
    position: absolute;
    left: 60px;
    font-size:36px;
    color: #0092ee;
}
#img-box{
    padding: 20px;
}

#avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#nickname{
    cursor: pointer;
}
[name=nickname]{
    width:200px;
    margin: auto;
    text-align: center;
}
.fa-edit{
    cursor: pointer;
    position: absolute;
}
.num{
    color: #0092ee;
    font-size: 20px;
}
#channel{
    margin: 10px 0 0 10px;
}
.item{
    /*float:left;*/
    display: inline-block;
    margin: 0 20px 0 20px;
    cursor: pointer;
}
#content{
    margin: 10px 0 0 10px;
    padding:10px;
    text-align: left;
}
.item-title{
    color:#0092ee;
    font-size:20px;
    border-bottom:1px solid #0092ee;
}
.list {
    margin: 10px;
    width: 95%;
    padding:10px;
    /*height: 100px;*/
    border: 1px solid #0092ee;
}
#edit{
    display:none;
}
.edit-item{
    margin: 5px;
}
#crop-avatar{
    margin:0 0 0 100px;
}
#avatar-view{
    width: 50px;
    height: 100px;
}
.g-list{
    padding: 10px;
}
.g-list a{
    display: inline-block;
    padding: 6px;
    font-size: 16px;
}
.follow-user{
    float:left;
    height: 34px;
}
.follow-btn{
    float:left;
    margin:0 0 0 10px;
}
.fans-user{
    float:left;
    height: 34px;
}
.fans-btn{
    float:left;
    margin:0 0 0 10px;
}