{extend name="public/base" /}
{block name="header"}
{__block__}
{/block}
{block name="title"}<title>博客目录-{$cateData['blog_category']}</title>{/block}
{block name="css"}
{__block__}
        <link href="/static/css/common.css" rel="stylesheet"/>
        <link href="/static/css/contents.css" rel="stylesheet"></link>
        <!--<link href="/static/css/index.css" rel="stylesheet"></link>-->
        <!--[if lt IE 9]>
            <script src="/static/js/html5shiv.js"></script>
            <script src="/static/js/respond.src.js"></script>
        <![endif]-->
    </head>
{/block}
{block name="nav"}
{__block__}
{/block}
{block name="container"}
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">{$cateData['blog_category']}</li>
        </ol>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {volist name="blogData" id="blog"}
                    <div class="list">
                        <div>
                            <div class="img-box">
                                <a href="/blog/detail?id={$blog['id']}"><img class="article-img" src="{$blog['masterimageurl']}"/></a>
                            </div>
                            <div class="article-box">
                                <h1><a href="/blog/detail?id={$blog['id']}">{$blog['blog_title']}</a></h1>
                                <div class="tags">
                                    <span class="label label-primary">{$blog['f_update_time']}</span>
                                    <span class="label label-default">{$blog['tag'][0]}</span>
                                    <span class="label label-success">{$blog['tag'][1]}</span>
                                    {volist name="$blog['f_unique_tag']" id="f_tag"}
                                    <span class="label label-info">{$f_tag}</span>
                                    {/volist}
                                </div>
                                <div class="article-detail">{$blog['blog_text_omit']}</div>
                            </div>
                        </div>
                        <div class="article-like">
                            <span>{$blog['read_count']}人阅读</span>
                            <span>{$blog['read_like']}人点赞</span>
                            <span>{$blog['commentsCount']}人评论</span>
                            <span style="float:right;">
                                <a href="/blog/detail?id={$blog['id']}">阅读全文>>></a>
                            </span>
                        </div>
                    </div>
                    {/volist}
                    <div style="width:100%;">
                        <nav aria-label="Page navigation" style="margin: 0 auto;width:300px;">
                            <ul class="pagination">
                                <li>
                                    <a href="/blog/contents?cate={$cateData['id']}&page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {for start='$pageNum-2' end='$pageNum+3'}
                                    {egt name='$pageCount' value='$i'}
                                        {gt name='$i' value='0'}
                                            {eq name='$i' value='$pageNum'}
                                                <li class="active"><a href="#">{$i}</a></li>
                                            {else/}
                                                <li><a href="/blog/contents?cate={$cateData['id']}&page={$i}">{$i}</a></li>
                                            {/eq}
                                        {/gt}
                                    {/egt}
                                {/for}
                                <li>
                                    <a href="/blog/contents?cate={$cateData['id']}&page={$pageCount}" aria-label="Next">
                                        <input name="page-max" type="hidden" value="{$pageCount}"/>
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <input name="go-page"  class="form-control"  style="display:inline;width:55px;height:33.5px;float: left;margin: 0 1px 0 1px;"/>
                                    <a onclick="goPage();" ria-label="Next" style="cursor:pointer;">
                                        <span aria-hidden="true">Go</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        空白页
                    </div>
                </div>
            </div>
        </div>
{/block}
{block name="sidebar"}
    {__block__}
{/block}
{block name="js"}
    {__block__}
    <script src="/static/js/toTop.js"></script>
    <script src="/static/js/contents.js"></script>
{/block}
{block name="footer"}
{/block}