{extend name="public/base" /}
{block name="header"}
    {__block__}
{/block}
{block name="title"}
    <title>我的网站</title>
{/block}
{block name="css"}
    {__block__}
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.src.js"></script>
    <![endif]-->
    </head>
{/block}
{block name="nav"}
    {__block__}
{/block}
{block name="container"}
    <!--页面内容部分-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="layui-carousel" id="banner">
                    <div carousel-item>
                        {volist name="bannerImagesData" id="bannerImage"}
                            <div><img class="carousel-img" src="/uploads/banner/{$bannerImage['address']}.{$bannerImage['ext']}">
                            </div>
                        {/volist}
                    </div>
                </div>
                <div id="notice" style="text-align: center;">
                        <a class="icon" href="/">时间线</a>
                        <a class="icon" href="/">API接口</a>
                        <a class="icon" href="/">文章归档</a>
                        <a class="icon" href="/">在线工具</a>
                        <a class="icon" href="/web/index/doc">在线文档</a>
                        <a class="icon" href="/">资源下载</a>
                </div>
                <div id="last-update">
                    <a class="channel">最近更新</a>
                    {volist name="lastUpdateData" id="lastUpdate"}
                    <div class="list">
                        <div>
                            <div class="img-box">
                                <img class="article-img" src="{$lastUpdate['masterimageurl']}"/>
                            </div>
                            <div class="article-box">
                                <h1><a href="/blog/detail/index/id/{$lastUpdate['id']}">{$lastUpdate['blog_title']}</a></h1>
                                <div class="tags">
                                    <span class="label label-primary">{$lastUpdate['f_update_time']}</span>
                                    <span class="label label-default">{$lastUpdate['tag'][0]}</span>
                                    <span class="label label-success">{$lastUpdate['tag'][1]}</span>
                                    {volist name="$lastUpdate['f_unique_tag']" id="f_tag"}
                                        <span class="label label-info">{$f_tag}</span>
                                    {/volist}
                                </div>
                                <div class="article-detail">{$lastUpdate['blog_text_omit']}</div>
                            </div>
                        </div>
                        <div class="article-like">
                            <span>{$lastUpdate['read_count']}人阅读</span>
                            <span>{$lastUpdate['read_like']}人点赞</span>
                            <span>{$lastUpdate['commentsCount']}人评论</span>
                            <span style="float:right;">
                                <a href="">阅读全文>>></a>
                            </span>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="col-md-4">
                <div id="about-me" class="channel-box">
                    <a class="channel">关于我</a>
                    <div>
                        <a href="/user?id=1"><img id="avatar" src="{$userImageUrlData}"/></a>
                    </div>
                    <div id="info" style="text-align: center;">
                        <p style="text-align: center;margin: 5px 0 5px 0">CaoJie</p>
                        <botton data="1" class="btn btn-default follow">{$btnTextData}</botton>
                    </div>
                    <ul id="contact" style="text-align: center;">
                        <li>
                            <a href="https://github.com/iamcaojie" target="_blank" title="Github-iamcaojie">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://weibo.com/iamcaojie96" target="_blank" title="微博-入戏太深莫当真">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1041973277&site=qq&menu=yes" target="_blank" title="QQ-1041973277">
                                <i class="fa fa-qq"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="fa fa-wechat"></i>
                            </a>
                            <div><img src="/static/img/wechat.png" style="display:none;"/></div>
                        </li>
                    </ul>
                    <div id="check-in-box" style="text-align: center;margin-top: 20px;">
                        {if condition = "$checkInData"}
                            <div>{$checkInData}</div>
                        {else /}
                            <botton id="check-in" class="btn btn-default btn-lg" style="width: 70%;">每日一签</botton>
                        {/if}
                    </div>
                </div>
                <div id="music" class="channel-box" style="display: none;">
                    <a class="channel">音乐播放</a>
                    <div id="play-box">
                        <audio src="">
                            <span>浏览器不支持audio标签</span>
                        </audio>
                        <div style="width:80px;margin: auto;">
                            <img src="/static/img/python.jpg" style="width:80px;height:80px;border-radius: 50%;"/>
                        </div>
                        <div>
                            <a id="play-model" href="javascript:void(0);">循环播放</a>
                            <a id="prev" href="javascript:void(0);"><i class="fa fa-step-backward" style="font-size: 36px;"></i></a>
                            <a id="play" href="javascript:void(0);"><i class="fa fa-play" style="font-size: 36px;"></i></a>
                            <a id="next" href="javascript:void(0);"><i class="fa fa-step-forward" style="font-size: 36px;"></i></a>
                            <a id="" href="javascript:void(0);">静音</a>
                            <span id="voice-bar">
                                <span id="voiced-bar" style="background:black;width:67px;height: 2px;"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="click" class="channel-box">
                    <a class="channel">点击排行</a>
                    <ul id="click-rank">
                        {volist name="blogRankData" id="blogRank"}
                            <li>
                                <p>
                                    <span class="number">{$blogRank['read_count']}</span>
                                    <a href="/blog/detail/index/id/{$blogRank['id']}">{$blogRank['blog_title']}</a>
                                </p>
                            </li>
                        {/volist}
                    </ul>
                </div>
                <div id="tags-list" class="channel-box">
                    <a class="channel">个性标签聚合</a>
                    <div>
                        <ul id="tag">
                            {volist name="tagData" id="tag"}
                                <li><a href="/search?category=tag&q={$tag}">{$tag}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div id="wechatmp" class="channel-box">
                    <a class="channel">小程序</a>
                    <div>开发中...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面底栏 -->
    <footer>
        <div id="foot">
            <div id="foot-left">
                <ul>
                    {volist name="linkData" id="link"}
                        <li><a href="{$link['link']}" target="_blank">{$link['link_title']}</a></li>
                    {/volist}
                </ul>
            </div>
            <div id="foot-right">

            </div>
        </div>
        <div id="web-info">
            <span style="display:none;"><a href=""></a></span>
        </div>
        <span id="copyright">COPYRIGHT 2018-2019 CAOJIE. ALL RIGHTS RESERVED.</span><br>
        <span><a href="http://www.miitbeian.gov.cn">{$webdata['beian_code']}</a></span>
        <span>今日pv </span><span>总pv </span>
    </footer>
{/block}
{block name="sidebar"}
    {__block__}
{/block}
{block name="js"}
    {__block__}
    <script src="/static/js/index.js"></script>
{/block}
{block name="footer"}
    {__block__}
{/block}