{extend name="public/base" /}
{block name="header"}
    {__block__}
{/block}
{block name="title"}
    <title>我的网站</title>
{/block}
{block name="css"}
    {__block__}
    <link href="/static/css/common.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.src.js"></script>
    <![endif]-->
    </head>
{/block}
{block name="nav"}
    {__block__}
{/block}
{block name="container"}
    <!--页面内容部分-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="layui-carousel" id="banner">
                    <div carousel-item>
                        {volist name="bannerImages" id="bannerImage"}
                            <div><img class="carousel-img" src="/uploads/banner/{$bannerImage['address']}.{$bannerImage['ext']}">
                            </div>
                        {/volist}
                    </div>
                </div>
                <div id="notice">
                    <div>
                        <div class="icon">不</div>
                        <div class="icon">知</div>
                        <div class="icon">道</div>
                        <div class="icon">写</div>
                        <div class="icon">什</div>
                        <div class="icon">么</div>
                    </div>
                </div>
                <div id="last-update">
                    <a class="channel">最近更新</a>
                    <div class="list">
                        <div>
                            <div class="img-box">
                                <img class="article-img" src="/static/img/python.jpg"/>
                            </div>
                            <div class="article-box">
                                <h1><a>python从入门到实践</a></h1>
                                <div class="tags">
                                    <span class="label label-primary">2018-11-11 00：00</span>
                                    <span class="label label-default">个性标签</span>
                                    <span class="label label-success">个性标签</span>
                                    <span class="label label-info">原创</span>
                                    <span class="label label-warning">Python</span>
                                </div>
                                <div class="article-detail">本书是一本针对所有层次的Python 读者而作的Python 入门书。全书分两部分：第一部分介绍用Python 编程所必须了解的基本概念，包括matplotlib、NumPy 和Pygal 等强大的Python 库和工具介绍，以及列表、字典、if 语句、类、文件与异常、代码测试等内容；第二部分将理论付诸实践，讲解如何开发三个项目，包括简单的Python 2D 游戏开发如何利用数据生成交互式的信息图，以及创建和定制简单的Web 应用，并帮读者解决常见编程问题和困惑。</div>
                            </div>
                        </div>
                        <div class="article-like">
                            <span>0人浏览</span>
                            <span>0人评论</span>
                            <span>0人点赞</span>
                            <span style="float:right;">
                                <a href="">阅读全文>>></a>
                            </span>
                        </div>
                    </div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                    <div class="list"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="about-me" class="channel-box">
                    <a class="channel">关于我</a>
                    <div>
                        <a href="https://iamcaojie.github.io"><img id="avatar" src="/static/img/avatar.jpg"/></a>
                    </div>
                    <div id="info">
                        <p>姓名：</p>
                        <p>职业：</p>
                        <p>年龄：</p>
                    </div>
                    <div id="contact">
                        <a href="https://github.com/iamcaojie" target="_blank" title="Github-iamcaojie">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="https://weibo.com/iamcaojie96" target="_blank" title="微博-入戏太深莫当真">
                            <i class="fa fa-weibo"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-qq"></i>
                        </a>
                        <a href="javascript:void(0);">
                            <i class="fa fa-wechat"></i>
                        </a>
                    </div>
                </div>
                <div id="music" class="channel-box">
                    <a class="channel">音乐播放</a>
                    <div id="play-box">
                        <audio src="">
                            <span>浏览器不支持audio标签</span>
                        </audio>
                        <div style="width:80px;margin: auto;">
                            <img src="/static/img/python.jpg" style="width:80px;height:80px;border-radius: 50%;"/>
                        </div>
                        <div>
                            <a id="play-model" href="javascript:void(0);">循环播放</a>
                            <a id="prev" href="javascript:void(0);"><i class="fa fa-step-backward" style="font-size: 36px;"></i></a>
                            <a id="play" href="javascript:void(0);"><i class="fa fa-play" style="font-size: 36px;"></i></a>
                            <a id="next" href="javascript:void(0);"><i class="fa fa-step-forward" style="font-size: 36px;"></i></a>
                            <a id="" href="javascript:void(0);">静音</a>
                            <span id="voice-bar">
                                <span id="voiced-bar" style="background:black;width:67px;height: 2px;"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="click" class="channel-box">
                    <a class="channel">点击排行</a>
                    <ul id="click-rank">
                        <li>
                            <p>
                                <span class="number">1</span>
                                <span>Python从入门到实践</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="number">2</span>
                                <span>
                                    <a>Python从入门到实践实践实践实践实践实践实践实践实践实践实践实践实践实践实践</a>
                                </span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div id="tags-list" class="channel-box">
                    <a class="channel">标签聚合</a>
                    <div>
                        <ul id="tag">
                            <li><a>javascript权威指南</a></li>
                            <li><a>javascript权威指南</a></li>
                            <li><a>javascript权威指南</a></li>
                        </ul>
                    </div>
                </div>
                <div id="wechatmp" class="channel-box">
                    <a class="channel">小程序</a>
                    <div>开发中...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面底栏 -->
    <footer>
        <div id="foot">
            <div id="foot-left">
                <ul>
                    <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>
                    <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>
                    <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>
                    <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>
                    <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>
                    <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>
                </ul>
            </div>
            <div id="foot-right">

            </div>
        </div>
        <div id="web-info">
            <span><a href="/api.html">Api</a></span>
            <span><a href="/timeline.html">时间线</a></span>
            <span><a href="/article.html">文章存档</a></span>
            <span><a href="/tools/online">在线工具</a></span>
            <span><a href="/about.html">在线文档</a></span>
            <span><a href="/about.html">相关下载</a></span>
            <span><a href="/about.html">实用网站</a></span>
            <span><a href="/about.html">关于本站</a></span>
        </div>
        <span id="copyright">COPYRIGHT 2018-2019 CAOJIE. ALL RIGHTS RESERVED.</span><br>
        <span><a href="http://www.miitbeian.gov.cn">{$webdata['beian_code']}</a></span>
    </footer>
{/block}
{block name="sidebar"}
    {__block__}
{/block}
{block name="js"}
    {__block__}
    <script src="/static/js/index.js"></script>
{/block}
{block name="footer"}
    {__block__}
{/block}